<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"> -->
</head>

	<form class="form-horizontal" action="{% url 'home' %}" method="POST">
		{% csrf_token %}
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-4" style="color:red">
			{{ error_message }}
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-4">
				<input type="text" class="form-control" name="username" value="{{ user.username }}" placeholder="username">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-4">
				<input type="password" class="form-control" name="password" placeholder="password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-3 col-sm-offset-4">
				<button type="submit" class="btn btn-primary">Sign in</button> or
				<a href="{% url 'registration:sign_up' %}" class="btn btn-success">Sign up</a>
			</div>
		</div>	
   </form>
          
</body>
</html>