.navbar{
	border-radius: 0;
	/*background-color: green;*/
}

.navbar-brand{
	font-family: 'Satisfy', cursive;
}

#carousel{
	width: 720px; 
	margin: 0 auto;
}

.carousel-inner{
	max-height: 400px !important;
}

.item img {
  width:100%;
}

.edit_vahay{
	margin-top: 50px;
}

.info p{
	font-size: 1.1em;
}

.vahay_title h3{
	padding: 10px;
	padding-top: 20px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}


