{% extends 'base.html' %}
{% block title %}Vahay-Edit{% endblock %}

{% block body %}
	<h3>Edit Vahay</h3>

	<div class="col-sm-11 col-md-5 col-lg-3">
		<form class="form-horizontal" action="{% url 'vahay:edit_vahay' vahay.pk %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" name="vahay_name" class="form-control" placeholder="name" value="{{ vahay.name }}">
			</div>
			<div class="form-group">
				<input type="text" name="category" class="form-control" placeholder="category" value="{{ vahay.category }}">
			</div>
			<div class="form-group">
				<input type="text" name="rent_range" class="form-control" placeholder="rent-range" value="{{ vahay.rent_range }}">
			</div>
			<div class="form-group">
				<input type="text" name="contacts" class="form-control" placeholder="contact details" value="{{ vahay.contact_details }}">
			</div>
			<div class="form-group">
				<input type="text" name="location" class="form-control" placeholder="location" value="{{ vahay.location }}">
			</div>
			{% if vahay.isAvailable %}
			<div class="input-group">
		      <input name="available" type="checkbox" checked>Available
		   </div>
		   {% else %}
		   <div class="input-group">
		      <input name="available" type="checkbox">Available
		   </div>
		   {% endif %}
			<div class="form-group">
				<button type="submit" class="btn btn-success">Save</button>
				<a href="{% url 'vahay:vahay_details' vahay.pk %}" class="btn btn-danger">Cancel</a>
			</div>
		</form>
		
	</div>

{% endblock %}