{% extends 'base.html' %}

{% block body %}
	{% if result|length <= 0 %}
		<div class="result_header">
			<p>Sorry. There were no Vahay/s in "{{ address }}"</p>
		</div>
	{% else %}
		<div class="result_header">
			<p>{{ result|length }} Vahay/s found in "{{ address }}"</p>
		</div>
		{% for vahay in result %}
			<div class="container-fluid">
				<div class="result_details well col-lg-6 col-lg-offset-3">
					<p>Name: <strong>{{ vahay.name }}</strong></p>
					<div class="row">
						<div class="col-md-6">
							<p>Address: {{ vahay.address }}</p>
						</div>
						<div class="col-md-3 col-md-offset-3">
							<a href="{% url 'vahay:vahay_details' vahay.pk %}" class="btn btn-success">View Details</a>
						</div>
					</div>
					<p>Category: <em>{{ vahay.category }}</em></p>
				</div>
			</div>
		{% endfor %}
	{% endif %}
{% endblock %}