{% extends 'base.html' %}

{% block body %}
	<h3 style="text-align: center; margin-top: 100px;">Edit profile</h3>
	<div class="col-lg-3 col-centered">
		<form class="form-horizontal" action="{% url 'registration:edit_profile' %}" method="POST">
			{% csrf_token %}
			<div class="form-group">
				<input type="text" name="first_name" class="form-control" placeholder="first name" value="{{ user.first_name }}">
			</div>
			<div class="form-group">
				<input type="text" name="last_name" class="form-control" placeholder="last name" value="{{ user.last_name }}">
			</div>
			<div class="form-group">
				<input type="text" name="email" class="form-control" placeholder="email" value="{{ user.email }}">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">Save</button>
				<a href="{% url 'profile' user.username %}" class="btn btn-danger">Cancel</a>
			</div>
		</form>
	</div>

{% endblock %}