{% extends 'carousel.html' %}
	
{% block title %}Vahay-Sign up{% endblock %}
	
{% block content %}
	<div class="title col-lg-6 col-lg-offset-3">
   	<p>Vahay</p>
   </div>

	<div class="signup col-lg-3 col-lg-offset-5">
		<div class="signup_label">Sign Up</div>
		<form class="form-horizontal" action="{% url 'registration:sign_up' %}" method="POST" required>
			{% csrf_token %}
			<div class="form-group">
				<input type="text" name="username" class="form-control" placeholder="Username" required>
			</div>
			<div class="form-group">
				<input type="text" name="first_name" class="form-control" placeholder="First Name" required>
			</div>
			<div class="form-group">
				<input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
			</div>
			<div class="form-group">
				<input type="text" name="email" class="form-control" placeholder="Email" required>
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="Password" required>
			</div>
			<div class="form-group">
				<input type="password" name="re_enter_password" class="form-control" placeholder="Re-enter Password" required>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Sign Up</button>
				<a href="{% url 'home' %}" class="btn btn-success">Log in here</a>
			</div>
			<div style="color: white;">
				<em>{{ pass_error }}</em>
				<em>{{ username_error }}</em>
			</div>
		</form>
	</div>
{% endblock %}